@charset "UTF-8";
* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.bigimg {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.bigimg--1 {
  aspect-ratio: 3/2;
}

.line {
  padding-block: 2px;
  background-color: rgba(245, 245, 245, 0.7098039216);
}
.line__white {
  padding-block: 2px;
  background-color: #fff;
}
.line__white2 {
  padding-block: 2px;
  background-color: #fff;
}

.top {
  position: fixed;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.7098039216);
  transform: translateX(-50%);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
  padding-block: 15px 15px;
  background-color: #fff;
}

.iconicon {
  display: grid;
  grid-template-columns: 1fr repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-inline: 20px;
}

.a {
  width: 40px;
  list-style: none;
}
.a__simple:hover {
  color: crimson;
}
.a__i {
  padding: 3px;
  border-radius: 15px;
}
.a__i:hover {
  color: crimson;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.search {
  display: grid;
  grid-template-columns: 40px auto;
  height: 45px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.5rem;
  background-color: #fff;
  border: 2px solid #acacaf;
  border-radius: 5px;
}
.search__inputinput {
  font-size: 25px;
}
.search input {
  align-self: center;
  border: none;
}
.search input:focus {
  outline: none;
}
.search__icon {
  align-self: center;
  width: 40px;
}

.logo {
  width: 150px;
}

.menubar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  padding-block: 10px;
  padding-inline: 10px;
  font-size: 14px;
  list-style: none;
}
.menubar__in {
  display: block;
  color: black;
  text-decoration: none;
}
.menubar__in:hover {
  color: crimson;
  text-decoration: underline;
}

.mid {
  display: grid;
  max-width: 1200px;
  padding-top: 180px;
  margin-inline: auto;
}
.mid__bottom {
  padding-top: 120px;
  padding-bottom: 100px;
}
.mid__bottom--img {
  display: grid;
}
.mid__bottom--img--top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 180px;
  padding-top: 10px;
}
.mid__bottom--img-bot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.mid__bottom--font {
  font-size: 50px;
}
.mid__fender {
  width: 100%;
  padding-top: 30px;
}
.mid__new {
  padding-top: 30px;
}
.mid__event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}
.mid__event--right {
  display: -webkit-box;
  padding: 50px;
  overflow: hidden;
  color: #424243;
  background-color: #bcb8b9;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.mid__event--right--title {
  font-size: 27px;
  font-weight: 800;
}
.mid__event--right--text {
  color: #6c6c6f;
}
.mid__eventplay--pic {
  position: relative;
  top: -80px;
  left: 635px;
  width: 500px;
  max-width: 100%;
}

.main {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-column: 1/-1;
  color: #424243;
}
.main__in {
  font-size: 50px;
}
.main__in--a {
  grid-row: 1;
  font-size: 50px;
}
.main__in--b {
  grid-row: 2;
  font-size: 50px;
}
.main__out {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  align-self: last baseline;
  padding-left: 350px;
  font-size: 20px;
}

.newimg {
  list-style: none;
}
.newimg__in {
  list-style: none;
}

.move {
  display: grid;
  grid-template-columns: auto auto auto;
}
.move__lottie1 {
  align-self: center;
}
.move__lottie2 {
  align-self: center;
  transform: scaleX(-1);
}

.guitar {
  width: 30%;
  margin-inline: auto;
  margin-top: 100px;
}
.guitar:hover {
  transform: rotate(10deg);
}

.textbrand {
  padding-top: 100px;
  font-size: 50px;
  color: #424243;
  text-align: center;
}
.textbrand--top {
  padding-bottom: 50px;
  font-size: 70px;
  font-weight: 800;
  color: #424243;
}
.textbrand--bot {
  padding-top: 100px;
  font-size: 70px;
  font-weight: 800;
  color: #424243;
  text-align: center;
}
.textbrand--in {
  font-size: 30px;
  font-weight: 400;
  color: #424243;
  text-align: center;
}
@keyframes rainbow {
  0%, 100% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
}
.textbrand__play {
  margin-bottom: 0;
  font-size: 70px;
  text-align: center;
  animation: rainbow 3s infinite;
}

.top-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100; /* 버튼이 다른 요소들 위에 위치하도록 설정 */
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  color: white;
  text-align: center;
  text-decoration: none; /* 링크 밑줄 제거 */
  cursor: pointer;
  background-color: rgba(108, 108, 111, 0.4156862745);
  border: none;
  border-radius: 25px;
  outline: none;
}

.top-button:hover {
  background-color: rgba(185, 41, 41, 0.4196078431);
}

.botmain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
}
.botmain__cort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
}
.botmain__cort__left {
  grid-row: 2;
  grid-column: 1;
}
.botmain__cort__right {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  padding-block: 40px;
  padding-inline: 50px;
  font-size: 18px;
  color: #6c6c6f;
  background-color: #fff;
}
.botmain__cort__right--about {
  font-size: 26px;
  font-weight: 900;
  color: #424243;
}
.botmain__cort__right--text1 {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.botmain__cort__right--text2 {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.botmain__left {
  grid-row: 2;
  grid-column: 1;
}
.botmain__right {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  padding-block: 40px;
  padding-inline: 50px;
  font-size: 18px;
  color: #6c6c6f;
  background-color: #f4f1ef;
}
.botmain__right--about {
  font-size: 26px;
  font-weight: 900;
  color: #424243;
}
.botmain__right--text1 {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.botmain__right--text2 {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.viewbot {
  padding-top: 100px;
}

.biglot {
  width: 30%;
  max-width: 100%;
  margin-inline: auto;
}

.bests {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 1200px;
  max-width: 100%;
  padding-top: 30px;
  margin-inline: auto;
  background-color: #fff;
  border: 2px solid #acacaf;
}
.bests-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-block: 0 20px;
  padding-inline: 20px;
  margin-top: 30px;
  text-align: center;
  background-color: #f4f1ef;
  border: 2px solid #bcb8b9;
}
.bests-input {
  display: none;
}
.bests-label {
  padding-block: 15px;
  padding-inline: 40px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #7e7777;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.bests-label:hover {
  background-color: #bcb8b9;
}
.bests-img {
  display: none;
  max-width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: #fff;
  border: 2px solid #bcb8b9;
  border-radius: 20px;
}
.bests-input:checked + .bests-label + .bests-img {
  display: block;
}

.newmain {
  width: 1200px;
  max-width: 100%;
  padding-top: 200px;
  margin-inline: auto;
}

.imgimg {
  padding-top: 50px;
}

.maintext {
  padding-inline: 100px;
  padding-top: 30px;
  line-height: 30px;
}

.bottom {
  display: block;
  max-width: 1200px;
  padding-block: 30px;
  margin-inline: auto;
  margin-top: 200px;
  background-color: #f4f1ef;
}
.bottom__section {
  display: grid;
  padding-inline: 35px;
}
.bottom__section__content {
  padding-top: 30px;
}
.bottom__section__content--title {
  font-size: 23px;
  font-weight: 700;
}
.bottom__icon {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 70px;
}
.bottom__icon--logo {
  display: grid;
  max-width: 25%;
}
.bottom__icon--sns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-self: center;
}
.bottom__bot {
  padding-top: 30px;
  color: #6c6c6f;
}